GtkButton { 
border-image : none ;
background-image : none ;
} 

#interface { 
font-family : "Comic Sans" ;
} 

#label { 
color : black ;
font-family : "Comic Sans" ;
} 

#label1 { 
font-family : "Comic Sans" ;
} 

#button { 
min-width : 150px ;
border-style : dashed ;
font-family : "Comic Sans" ;
} 

